# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
./output_slopes/
./output_slopes/slopes_dataset_0_nc_14.png
./output_slopes/slopes_dataset_1_nc_14.png
./output_slopes/slopes_dataset_10_nc_14.png
./output_slopes/slopes_dataset_11_nc_14.png
./output_slopes/slopes_dataset_12_nc_14.png
./output_slopes/slopes_dataset_13_nc_14.png
./output_slopes/slopes_dataset_14_nc_14.png
./output_slopes/slopes_dataset_15_nc_14.png
./output_slopes/slopes_dataset_16_nc_14.png
./output_slopes/slopes_dataset_17_nc_14.png
./output_slopes/slopes_dataset_18_nc_14.png
./output_slopes/slopes_dataset_19_nc_14.png
./output_slopes/slopes_dataset_2_nc_14.png
./output_slopes/slopes_dataset_20_nc_14.png
./output_slopes/slopes_dataset_21_nc_14.png
./output_slopes/slopes_dataset_22_nc_14.png
./output_slopes/slopes_dataset_23_nc_14.png
./output_slopes/slopes_dataset_24_nc_14.png
./output_slopes/slopes_dataset_25_nc_14.png
./output_slopes/slopes_dataset_26_nc_14.png
./output_slopes/slopes_dataset_27_nc_14.png
./output_slopes/slopes_dataset_28_nc_14.png
./output_slopes/slopes_dataset_29_nc_14.png
./output_slopes/slopes_dataset_3_nc_14.png
./output_slopes/slopes_dataset_4_nc_14.png
./output_slopes/slopes_dataset_42_nc_14.png
./output_slopes/slopes_dataset_43_nc_14.png
./output_slopes/slopes_dataset_44_nc_14.png
./output_slopes/slopes_dataset_45_nc_14.png
./output_slopes/slopes_dataset_46_nc_14.png
./output_slopes/slopes_dataset_47_nc_14.png
./output_slopes/slopes_dataset_48_nc_14.png
./output_slopes/slopes_dataset_49_nc_14.png
./output_slopes/slopes_dataset_5_nc_14.png
./output_slopes/slopes_dataset_50_nc_14.png
./output_slopes/slopes_dataset_51_nc_14.png
./output_slopes/slopes_dataset_52_nc_14.png
./output_slopes/slopes_dataset_53_nc_14.png
./output_slopes/slopes_dataset_54_nc_14.png
./output_slopes/slopes_dataset_55_nc_14.png
./output_slopes/slopes_dataset_56_nc_14.png
./output_slopes/slopes_dataset_57_nc_14.png
./output_slopes/slopes_dataset_58_nc_14.png
./output_slopes/slopes_dataset_59_nc_14.png
./output_slopes/slopes_dataset_6_nc_14.png
./output_slopes/slopes_dataset_60_nc_14.png
./output_slopes/slopes_dataset_61_nc_14.png
./output_slopes/slopes_dataset_62_nc_14.png
./output_slopes/slopes_dataset_63_nc_14.png
./output_slopes/slopes_dataset_64_nc_14.png
./output_slopes/slopes_dataset_65_nc_14.png
./output_slopes/slopes_dataset_66_nc_14.png
./output_slopes/slopes_dataset_67_nc_14.png
./output_slopes/slopes_dataset_68_nc_14.png
./output_slopes/slopes_dataset_69_nc_14.png
./output_slopes/slopes_dataset_7_nc_14.png
./output_slopes/slopes_dataset_70_nc_14.png
./output_slopes/slopes_dataset_71_nc_14.png
./output_slopes/slopes_dataset_72_nc_14.png
./output_slopes/slopes_dataset_73_nc_14.png
./output_slopes/slopes_dataset_74_nc_14.png
./output_slopes/slopes_dataset_75_nc_14.png
./output_slopes/slopes_dataset_76_nc_14.png
./output_slopes/slopes_dataset_77_nc_14.png
./output_slopes/slopes_dataset_8_nc_14.png
./output_slopes/slopes_dataset_9_nc_14.png
output_slopes/
output_nc13/
figures/max_histograms.pdf
figures/slope_histograms.pdf
table_s_NSS_data.tex
